.title-1{
  color: crimson;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

body {
    background-color: black;
    color: white; /* Optional: makes your text white so you can actually read it against the black background! */
}